<h1>Results for Recipes</h1>

<%= render partial: "layouts/search_form" %>

<hr>

<div class="no-results">
  <br />
  It seems we have no recipe with those ingredients :(
  <br />
  Please try again! We're sure you'll find something else.
</div>
