<%= render partial: "search/search_form" %>

<article>
  <header><i class="fa-solid fa-face-sad-cry"></i> No recipes came up!</header>
  <body>
    <p>It seems we have no recipe with those ingredients</p>
    <p>Please <a href="/">try again</a>! We're sure you'll find something else.</p>
  </body>
  <footer>
    Or maybe try some categories from the main menu!
  </footer>
</article>
