<a href="#" onclick="history.back()">
  Go back to recipe list
</a>
<h1><%= @recipe.title %></h1>
<article>
  <img src="<%= @recipe.image %>"alt="image of recipe <% @title %>" width="500" />
</article>
<article>
    <header>Ingredient List</header>
    <ul >
    <% @ingredients&.each do |ingredient| %>
      <li><%= ingredient.name %></li>
    <% end %>
    </ul> 
</article>
