<section>
  <article>
  <header>
    <i class="fa-solid fa-circle-info"></i>
    Search for recipes using at home ingredients
  </header>
  <p>
  Looking to maximise food without letting nothing go to waste? 
  Add some ingredients to the list, then see what recipes match them!
  </p>
  <p>Not sure where to start? Try one of the categories to get some ideas.</p>
  </article>
</section>

<%= render partial: "search/search_form" %>
