<section>
  
  <article>
  <header>
    <i class="fa-solid fa-circle-info"></i>
    Search for recipes using at home ingredients
  </header>
  <main>
  Looking to maximise food without letting nothing go to waste? 
  Add some ingredients to the list, then see what recipes match them!
  </main>
  </article>
</section>

<%= render partial: "layouts/search_form" %>
