<nav>
  <ul>
    <li>
      <i class="fa-solid fa-carrot"></i>
      <a href="/">Recipe Finder</a>
    </li>
  </ul>
  <ul>
    <li>
      <a href="/recipes?category=beef">
        <i class="fa-solid fa-cow"></i>
        Beef
      </a>
    </li>
    <li>
      <a href="/recipes?category=chicken">
        <i class="fa-solid fa-kiwi-bird"></i>
        Chicken
      </a>
    </li>
    <li>
      <a href="/recipes?category=seafood">
        <i class="fa-solid fa-shrimp"></i>
        Seafood
      </a>
    </li>
    <li>
      <a href="/recipes?category=vegetarian">
        <i class="fa-solid fa-seedling"></i>
        Vegetarian
      </a>
    </li>
    <li>
      <a href="/recipes?category=soup">
        <i class="fa-solid fa-spoon"></i>
        Soup
      </a>
    </li>
    <li>
      <a href="/recipes?category=pasta">
        <i class="fa-solid fa-bowl-food"></i>
        Pasta
      </a>
    </li>
  </ul>
</nav>
